@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?etqgdw");
  src: url("fonts/icomoon.eot?etqgdw#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?etqgdw") format("truetype"),
    url("fonts/icomoon.woff?etqgdw") format("woff"),
    url("fonts/icomoon.svg?etqgdw#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-big-left:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
  color: #979797;
}
.icon-arrow-right:before {
  content: "\e902";
  color: #979797;
}
.icon-calendar:before {
  content: "\e903";
}
.icon-checkedIcon .path1:before {
  content: "\e904";
  color: rgb(0, 0, 0);
}
.icon-checkedIcon .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-clean:before {
  content: "\e906";
  color: #3366ff;
}
.icon-close:before {
  content: "\e907";
  color: #b2b7c1;
}
.icon-edit:before {
  content: "\e908";
  color: #3467ff;
}
.icon-eye .path1:before {
  content: "\e909";
  color: rgb(51, 102, 255);
  opacity: 0.4;
}
.icon-eye .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(51, 102, 255);
}
.icon-eye2:before {
  content: "\e90b";
}
.icon-filter-icon:before {
  content: "\e90d";
  color: #3365fc;
}
.icon-flag-icon-1:before {
  content: "\e90e";
  color: #edc700;
}
.icon-flag-icon-2:before {
  content: "\e90f";
  color: #4c6fff;
}
.icon-flag-icon-3:before {
  content: "\e910";
  color: #ed7200;
}
.icon-log-out:before {
  content: "\e911";
  color: #b1b1b8;
}
.icon-plus:before {
  content: "\e912";
}
.icon-save:before {
  content: "\e913";
  color: #fff;
}
.icon-search:before {
  content: "\e914";
  color: #b1b1b8;
}
.icon-sponsor .path1:before {
  content: "\e915";
  color: rgb(46, 91, 255);
  opacity: 0.4;
}
.icon-sponsor .path2:before {
  content: "\e916";
  margin-left: -0.875em;
  color: rgb(46, 91, 255);
}
.icon-trash:before {
  content: "\e917";
  color: #ff4945;
}
.icon-user-icon:before {
  content: "\e918";
  color: #f1f1f3;
}
